.card__trash {
  width: 18px;
  height: 20px;
  position: absolute;
  top: 18px;
  right: 15px;
  background-image: url(../../../images/Trash.svg);
  background-color: transparent;
  border: none;
  transition: opacity .15s;
  cursor: pointer;
}

.card__trash:hover {
  opacity: .6;
}

.card__trash:focus {
  outline: none;
}
